macOS/local-ai.dmg
macOS/local-ai
LocalAI/userPreferences.*
LocalAI/Resources/bin/macOS/local-ai
lib/*
LocalAI/Data/*
LocalAI/Project/DerivedData/methodAttributes.json
LocalAI/Project/DerivedData/formAttributes.json
